<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui"
		xmlns:ui="http://java.sun.com/jsf/facelets" >
	<!-- pagina criada dentro do templates para nao ficar repetindo em todas as outras paginas o layout -->
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Drogaria</title>

<!--outputStylesheet usado para importar o css "estilo.css" para arrumar o bug do menubar dentro do layout -->
<h:outputStylesheet library="css" name="estilos.css"/>
</h:head>
<h:body>
	<p:layout fullPage = "true">
		<p:layoutUnit position="north">
			<ui:insert name="menu" />
		</p:layoutUnit>
		
		<p:layoutUnit position="center">
			<ui:insert name="conteudo"/>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>